# Test Platform Dependencies
flask>=2.3.0
flask-sqlalchemy>=3.0.0
flask-login>=0.6.0
flask-migrate>=4.0.0
flask-wtf>=1.1.0
flask-cors>=4.0.0
sqlalchemy>=2.0.0
python-dotenv>=1.0.0
wtforms>=3.0.0
email-validator>=2.0.0
openpyxl>=3.1.0
pyyaml>=6.0
requests>=2.28.0
python-docx>=0.8.11
PyPDF2>=3.0.0
werkzeug>=2.3.0
